SOURCES/xfd-1.1.2.tar.bz2
SOURCES/xload-1.1.3.tar.bz2
SOURCES/xmag-1.0.6.tar.bz2
SOURCES/xmessage-1.0.5.tar.bz2
SOURCES/oclock-1.0.4.tar.bz2
SOURCES/xconsole-1.0.6.tar.bz2
SOURCES/xvidtune-1.0.3.tar.bz2
SOURCES/xwud-1.0.5.tar.bz2
SOURCES/luit-1.1.1.tar.bz2
SOURCES/x11perf-1.6.0.tar.bz2
SOURCES/xwd-1.0.7.tar.bz2
SOURCES/xbiff-1.0.3.tar.bz2
SOURCES/xcursorgen-1.0.6.tar.bz2
SOURCES/xeyes-1.1.2.tar.bz2
SOURCES/xfontsel-1.0.6.tar.bz2
SOURCES/xlogo-1.0.4.tar.bz2
SOURCES/xpr-1.0.5.tar.bz2
SOURCES/xclipboard-1.1.3.tar.bz2
SOURCES/xclock-1.0.7.tar.bz2
